name: Publish efforts for country-codes-rb

on:
  push:
    branches: [ master, rubygem ]
  pull_request:
    branches: [ master, rubygem ]

jobs:
  build:
    name: Publish gem to GitHub Packages
    runs-on: ubuntu-20.04
    permissions:
      contents: read

    env:
      GITHUB_USER: 'thedeadferryman'
      REPO_OWNER: "${{ github.repository_owner }}"
      GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '8'
      - uses: ruby/setup-ruby@v1.92.0
        with:
          ruby-version: 'jruby-9.3.2.0'
          bundler-cache: true
      - name: Setup the environment
        working-directory: country-codes-rb
        run: cat bin/setup | bash
      - name: Publish to GPR
        working-directory: country-codes-rb
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:github: Bearer ${GITHUB_TOKEN}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push --key github --host https://rubygems.pkg.github.com/${REPO_OWNER} *.gem
      - name: Publish to RubyGems
        working-directory: country-codes-rb
        run: |
          mkdir -p $HOME/.gem
          touch $HOME/.gem/credentials
          chmod 0600 $HOME/.gem/credentials
          printf -- "---\n:rubygems_api_key: ${GEM_HOST_API_KEY}\n" > $HOME/.gem/credentials
          gem build *.gemspec
          gem push *.gem
        env:
          GEM_HOST_API_KEY: "${{secrets.RUBYGEMS_AUTH_TOKEN}}"